In [1]:
import pandas as pd

In [2]:
clientes=pd.read_csv(r"C:\Users\didio\OneDrive\Documentos\analises\online-retail-analysis\datas\olist_customers_dataset.csv")

In [3]:
clientes.info(
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

excluindo colunas desnecessarias

In [5]:
clientes=clientes.drop(columns=["customer_unique_id","customer_zip_code_prefix"])

In [6]:
clientes

                            customer_id          customer_city customer_state
0      06b8999e2fba1a1fbc88172c00ba8bc7                 franca             SP
1      18955e83d337fd6b2def6b18a428ac77  sao bernardo do campo             SP
2      4e7b3e00288586ebd08712fdd0374a03              sao paulo             SP
3      b2b6027bc5c5109e529d4dc6358b12c3        mogi das cruzes             SP
4      4f2d8ab171c80ec8364f7c12e35b23ad               campinas             SP
...                                 ...                    ...            ...
99436  17ddf5dd5d51696bb3d7c6291687be6f              sao paulo             SP
99437  e7b71a9017aa05c9a7fd292d714858e8        taboao da serra             SP
99438  5e28dfe12db7fb50a4b2f691faecea5e              fortaleza             CE
99439  56b18e2166679b8a959d72dd06da27f9                 canoas             RS
99440  274fa6071e5e17fe303b9748641082c8                  cotia             SP

[99441 rows x 3 columns]

In [18]:
clientes.isnull()

       customer_id  customer_city  customer_state
0            False          False           False
1            False          False           False
2            False          False           False
3            False          False           False
4            False          False           False
...            ...            ...             ...
99436        False          False           False
99437        False          False           False
99438        False          False           False
99439        False          False           False
99440        False          False           False

[99441 rows x 3 columns]

In [19]:
pedidos=pd.read_csv(r"C:\Users\didio\OneDrive\Documentos\analises\online-retail-analysis\datas\olist_orders_dataset.csv")

In [20]:
pedidos

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00

In [21]:
pedidos=pedidos.drop(columns=["order_purchase_timestamp","order_approved_at","order_delivered_carrier_date","order_delivered_customer_date","order_estimated_delivery_date"])

In [22]:
pedidos

,order_id,customer_id,order_status
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered
...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered

In [23]:
juntos=pd.merge(clientes,pedidos,on="customer_id",how="inner")

In [24]:
juntos.isnull(
    
)

       customer_id  customer_city  customer_state  order_id  order_status
0            False          False           False     False         False
1            False          False           False     False         False
2            False          False           False     False         False
3            False          False           False     False         False
4            False          False           False     False         False
...            ...            ...             ...       ...           ...
99436        False          False           False     False         False
99437        False          False           False     False         False
99438        False          False           False     False         False
99439        False          False           False     False         False
99440        False          False           False     False         False

[99441 rows x 5 columns]

In [25]:
juntos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     99441 non-null  object
 1   customer_city   99441 non-null  object
 2   customer_state  99441 non-null  object
 3   order_id        99441 non-null  object
 4   order_status    99441 non-null  object
dtypes: object(5)
memory usage: 3.8+ MB

In [26]:
juntos.isnull

<bound method DataFrame.isnull of                             customer_id          customer_city customer_state  \
0      06b8999e2fba1a1fbc88172c00ba8bc7                 franca             SP
1      18955e83d337fd6b2def6b18a428ac77  sao bernardo do campo             SP
2      4e7b3e00288586ebd08712fdd0374a03              sao paulo             SP
3      b2b6027bc5c5109e529d4dc6358b12c3        mogi das cruzes             SP
4      4f2d8ab171c80ec8364f7c12e35b23ad               campinas             SP
...                                 ...                    ...            ...
99436  17ddf5dd5d51696bb3d7c6291687be6f              sao paulo             SP
99437  e7b71a9017aa05c9a7fd292d714858e8        taboao da serra             SP
99438  5e28dfe12db7fb50a4b2f691faecea5e              fortaleza             CE
99439  56b18e2166679b8a959d72dd06da27f9                 canoas             RS
99440  274fa6071e5e17fe303b9748641082c8                  cotia             SP

                               order_id order_status
0      00e7ee1b050b8499577073aeb2a297a1    delivered
1      29150127e6685892b6eab3eec79f59c7    delivered
2      b2059ed67ce144a36e2aa97d2c9e9ad2    delivered
3      951670f92359f4fe4a63112aa7306eba    delivered
4      6b7d50bd145f6fc7f33cebabd7e49d0f    delivered
...                                 ...          ...
99436  6760e20addcf0121e9d58f2f1ff14298    delivered
99437  9ec0c8947d973db4f4e8dcf1fbfa8f1b    delivered
99438  fed4434add09a6f332ea398efd656a5c    delivered
99439  e31ec91cea1ecf97797787471f98a8c2    delivered
99440  28db69209a75e59f20ccbb5c36a20b90    delivered

[99441 rows x 5 columns]>

In [27]:
juntos.isnull().sum().value_counts()

0    5
Name: count, dtype: int64

In [1]:
juntos

NameError: name 'juntos' is not defined

In [2]:
pedidos

NameError: name 'pedidos' is not defined

In [3]:
pedidos

NameError: name 'pedidos' is not defined