In [1]:
import pandas as pd

In [2]:
clientes=pd.read_csv(r"C:\Users\didio\OneDrive\Documentos\analises\online-retail-analysis\datas\olist_customers_dataset.csv")

In [3]:
clientes.info(
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

excluindo colunas desnecessarias

In [5]:
clientes=clientes.drop(columns=["customer_unique_id","customer_zip_code_prefix"])

In [6]:
clientes

                            customer_id          customer_city customer_state
0      06b8999e2fba1a1fbc88172c00ba8bc7                 franca             SP
1      18955e83d337fd6b2def6b18a428ac77  sao bernardo do campo             SP
2      4e7b3e00288586ebd08712fdd0374a03              sao paulo             SP
3      b2b6027bc5c5109e529d4dc6358b12c3        mogi das cruzes             SP
4      4f2d8ab171c80ec8364f7c12e35b23ad               campinas             SP
...                                 ...                    ...            ...
99436  17ddf5dd5d51696bb3d7c6291687be6f              sao paulo             SP
99437  e7b71a9017aa05c9a7fd292d714858e8        taboao da serra             SP
99438  5e28dfe12db7fb50a4b2f691faecea5e              fortaleza             CE
99439  56b18e2166679b8a959d72dd06da27f9                 canoas             RS
99440  274fa6071e5e17fe303b9748641082c8                  cotia             SP

[99441 rows x 3 columns]