In [1]:

import pandas as pd

recebendo a dataframe dos clientes

In [2]:
clientes=pd.read_csv(r"C:\Users\didio\OneDrive\Documentos\analises\online-retail-analysis\datas\olist_customers_dataset.csv")

verificando e limpando a tabela clientes

In [3]:
clientes

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

In [4]:
clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [6]:
clientes.drop(columns=["customer_unique_id","customer_zip_code_prefix"],inplace=True)

recebendo o dataframe de pedidos

In [7]:
pedidos=pd.read_csv(r"C:\Users\didio\OneDrive\Documentos\analises\online-retail-analysis\datas\olist_orders_dataset.csv")

In [9]:
pedidos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [10]:
pedidos.head(10)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
5,a4591c265e18cb1dcee52889e2d8acc3,503740e9ca751ccdda7ba28e9ab8f608,delivered,2017-07-09 21:57:05,2017-07-09 22:10:13,2017-07-11 14:58:04,2017-07-26 10:57:55,2017-08-01 00:00:00
6,136cce7faa42fdb2cefd53fdc79a6098,ed0271e0b7da060a393796590e7b737a,invoiced,2017-04-11 12:22:08,2017-04-13 13:25:17,NaN,NaN,2017-05-09 00:00:00
7,6514b8ad8028c9f2cc2374ded245783f,9bdf08b4b3b52b5526ff42d37d47f222,delivered,2017-05-16 13:10:30,2017-05-16 13:22:11,2017-05-22 10:07:46,2017-05-26 12:55:51,2017-06-07 00:00:00
8,76c6e866289321a7c93b82b54852dc33,f54a9f0e6b351c431402b8461ea51999,delivered,2017-01-23 18:29:09,2017-01-25 02:50:47,2017-01-26 14:16:31,2017-02-02 14:08:10,2017-03-06 00:00:00
9,e69bfb5eb88e0ed6a785585b27e16dbf,31ad1d1b63eb9962463f764d4e6e0c9d,delivered,2017-07-29 11:55:02,2017-07-29 12:05:32,2017-08-10 19:45:24,2017-08-16 17:14:30,2017-08-23 00:00:00

limpando e mesclando a tabela cliente e a tabela pedidos

In [21]:
pedidos.drop(columns="order_delivered_carrier_date",inplace=True)

In [22]:
pedidos

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-17 15:08:01,2017-03-28 00:00:00
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-28 17:37:56,2018-03-02 00:00:00
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-09-21 11:24:17,2017-09-27 00:00:00
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-25 23:32:54,2018-02-15 00:00:00
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-16 13:08:30,2018-04-03 00:00:00

In [23]:
pedidos_clientes=pd.merge(clientes,pedidos,on="customer_id",how="outer")

In [24]:
pedidos_clientes

,customer_id,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_customer_date,order_estimated_delivery_date
0,00012a2ce6f8dcda20d059ce98491703,osasco,SP,5f79b5b0931d63f1a42989eb65b9da6e,delivered,2017-11-14 16:08:26,2017-11-14 16:35:32,2017-11-28 15:41:30,2017-12-04 00:00:00
1,000161a058600d5901f007fab4c27140,itapecerica,MG,a44895d095d7e0702b6a162fa2dbeced,delivered,2017-07-16 09:40:32,2017-07-16 09:55:12,2017-07-25 18:57:33,2017-08-04 00:00:00
2,0001fd6190edaaf884bcaf3d49edf079,nova venecia,ES,316a104623542e4d75189bb372bc5f8d,delivered,2017-02-28 11:06:43,2017-02-28 11:15:20,2017-03-06 08:57:49,2017-03-22 00:00:00
3,0002414f95344307404f0ace7a26f1d5,mendonca,MG,5825ce2e88d5346438686b0bba99e5ee,delivered,2017-08-16 13:09:20,2017-08-17 03:10:27,2017-09-13 20:06:02,2017-09-14 00:00:00
4,000379cdec625522490c315e70c7a9fb,sao paulo,SP,0ab7fb08086d4af9141453c91878ed7a,delivered,2018-04-02 13:42:17,2018-04-04 03:10:19,2018-04-13 20:21:08,2018-04-18 00:00:00
...,...,...,...,...,...,...,...,...,...
99436,fffecc9f79fd8c764f843e9951b11341,parobe,RS,814d6a3a7c0b32b2ad929ac6328124e9,delivered,2018-03-29 16:59:26,2018-03-29 17:10:27,2018-04-10 17:20:49,2018-04-27 00:00:00
99437,fffeda5b6d849fbd39689bb92087f431,rio de janeiro,RJ,8c855550908247a7eff50281b92167a8,delivered,2018-05-22 13:36:02,2018-05-22 13:54:37,2018-06-08 18:03:31,2018-06-29 00:00:00
99438,ffff42319e9b2d713724ae527742af25,taboao da serra,SP,83b5fc912b2862c5046555ded1483ae9,delivered,2018-06-13 16:57:05,2018-06-13 17:20:23,2018-06-18 18:33:05,2018-06-25 00:00:00
99439,ffffa3172527f765de70084a7e53aae8,alfenas,MG,d0e7be325a1c986babc4e1cdb91edc03,delivered,2017-09-02 11:53:32,2017-09-02 12:05:40,2017-09-14 19:47:40,2017-09-26 00:00:00
99440,ffffe8b65bbe3087b653a978c870db99,osasco,SP,2e935fa1d39497aa0ec3f1107fbfb5b8,unavailable,2017-09-29 14:07:03,2017-10-03 06:34:13,NaN,2017-10-24 00:00:00

identificando cliente que nao foi realizado a entrega

In [ ]:
nao_entregues=pedidos_clientes[pedidos_clientes.issnull().any(axis=1)]

In [27]:
nao_entregues

,customer_id,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_customer_date,order_estimated_delivery_date
31,001574cd5824c0b1ea90dd4f4ba6d5b8,sao paulo,SP,ccac33950ffc27cb905dbcdfb099494a,unavailable,2017-11-26 02:13:57,2017-11-26 02:30:13,NaN,2017-12-19 00:00:00
47,002348c1099e3229276c8ad7d4ddc702,itupeva,SP,79ec7fcffa4121dbb55b945aee306e12,processing,2018-01-10 12:28:22,2018-01-11 03:09:22,NaN,2018-02-02 00:00:00
52,0026d252429f669d454d726e5e956aa1,aguai,SP,1839b1db32d5ea90a7fc3ca19bdd16ad,shipped,2017-11-09 16:08:41,2017-11-10 20:50:37,NaN,2017-11-29 00:00:00
60,002b5342c72978cf0aba6aae1f5d5293,rio de janeiro,RJ,21a00b08cbeb5716bbb66105e3dbd850,canceled,2018-09-10 17:51:25,NaN,NaN,2018-09-20 00:00:00
85,0037d14e53af1d555a582504a4058f4c,sao paulo,SP,8603de8fb5551ed7faf81d2a31b8bf0e,unavailable,2017-06-11 17:40:22,2017-06-11 17:55:17,NaN,2017-07-05 00:00:00
...,...,...,...,...,...,...,...,...,...
99317,ffaded93e5a1fce06363cfb6905676a1,cotia,SP,5bca61e411c4fcce08327a8efc371911,canceled,2018-06-13 20:52:10,2018-06-13 21:20:38,NaN,2018-07-11 00:00:00
99333,ffb81db92e7ac00ecfac978f673be8a6,itabaiana,SE,e3c4b2d7022588a02583a79b3f405632,shipped,2017-03-17 21:14:36,2017-03-17 21:14:36,NaN,2017-04-20 00:00:00
99405,ffe7ffb7c7ae0d42808f387578426b3b,porto alegre,RS,59bef859ee544206d66d43cd4a50fac9,shipped,2018-03-16 17:26:27,2018-03-16 17:49:58,NaN,2018-04-11 00:00:00
99434,fffc22669ca576ae3f654ea64c8f36be,salvador,BA,74f833bf7c70ce8c3f820f725c213e1c,unavailable,2017-06-30 11:21:11,2017-06-30 11:30:20,NaN,2017-08-01 00:00:00
99440,ffffe8b65bbe3087b653a978c870db99,osasco,SP,2e935fa1d39497aa0ec3f1107fbfb5b8,unavailable,2017-09-29 14:07:03,2017-10-03 06:34:13,NaN,2017-10-24 00:00:00

verificando clientes que a entrega foi concluida

In [ ]:
entregues=pedidos_clientes.dropna(

)

In [29]:
entregues

,customer_id,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_customer_date,order_estimated_delivery_date
0,00012a2ce6f8dcda20d059ce98491703,osasco,SP,5f79b5b0931d63f1a42989eb65b9da6e,delivered,2017-11-14 16:08:26,2017-11-14 16:35:32,2017-11-28 15:41:30,2017-12-04 00:00:00
1,000161a058600d5901f007fab4c27140,itapecerica,MG,a44895d095d7e0702b6a162fa2dbeced,delivered,2017-07-16 09:40:32,2017-07-16 09:55:12,2017-07-25 18:57:33,2017-08-04 00:00:00
2,0001fd6190edaaf884bcaf3d49edf079,nova venecia,ES,316a104623542e4d75189bb372bc5f8d,delivered,2017-02-28 11:06:43,2017-02-28 11:15:20,2017-03-06 08:57:49,2017-03-22 00:00:00
3,0002414f95344307404f0ace7a26f1d5,mendonca,MG,5825ce2e88d5346438686b0bba99e5ee,delivered,2017-08-16 13:09:20,2017-08-17 03:10:27,2017-09-13 20:06:02,2017-09-14 00:00:00
4,000379cdec625522490c315e70c7a9fb,sao paulo,SP,0ab7fb08086d4af9141453c91878ed7a,delivered,2018-04-02 13:42:17,2018-04-04 03:10:19,2018-04-13 20:21:08,2018-04-18 00:00:00
...,...,...,...,...,...,...,...,...,...
99435,fffcb937e9dd47a13f05ecb8290f4d3e,sao paulo,SP,620ddc9fbe3e445676a8e71d4a830821,delivered,2018-03-17 00:55:27,2018-03-17 01:35:21,2018-03-21 19:24:46,2018-04-05 00:00:00
99436,fffecc9f79fd8c764f843e9951b11341,parobe,RS,814d6a3a7c0b32b2ad929ac6328124e9,delivered,2018-03-29 16:59:26,2018-03-29 17:10:27,2018-04-10 17:20:49,2018-04-27 00:00:00
99437,fffeda5b6d849fbd39689bb92087f431,rio de janeiro,RJ,8c855550908247a7eff50281b92167a8,delivered,2018-05-22 13:36:02,2018-05-22 13:54:37,2018-06-08 18:03:31,2018-06-29 00:00:00
99438,ffff42319e9b2d713724ae527742af25,taboao da serra,SP,83b5fc912b2862c5046555ded1483ae9,delivered,2018-06-13 16:57:05,2018-06-13 17:20:23,2018-06-18 18:33:05,2018-06-25 00:00:00
99439,ffffa3172527f765de70084a7e53aae8,alfenas,MG,d0e7be325a1c986babc4e1cdb91edc03,delivered,2017-09-02 11:53:32,2017-09-02 12:05:40,2017-09-14 19:47:40,2017-09-26 00:00:00